<h1>Пользователи</h1>
<ol>
  {% for i in user_list %}

  <li>
    <h2>{{ i.username }}</h2>
    <p>{{ i.first_name }}</p>
    <p>{{ i.last_name }}</p>
    <p>{{ i.email }}</p>
    <p>{{ i.age }}</p>
    <p>{{ i.gender }}</p>
    <p>{{ i.phone_number }}</p>
    <p>{{ i.expirience }}</p>
    <p>{{ i.vacancy }}</p>
    <p>{{ i.info_about_you }}</p>
  </li>

  {% endfor %}
</ol>

<form action="{% url 'users:login' %}">
    {% csrf_token %}
    <button type="submit">Выйти из аккаунта</button>
</form>